
# Tmp files created by vim
*.swp

# Compiled sources
*.class

# Anything in target dirs
build
gh-pages-build
target
# But keep this one file tracked
!dbt_ads_project/target/semantic_manifest.jso

# Ivy caches
.bsp
.gradle
.ivy2
.ivy2.cache
.sbt

# Intellij
*.iml
*.ipr
*.iws

# anything in .idea dirs
.idea
.idea_modules
out
*.pyc
*.jar

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/

.cursor/mcp.json
.cursor/mcp.json
.cursor/mcp.json

# Large ONNX model files (too big for GitHub)
*.onnx
dearpygui_gui_examples/Image-Processing-Node-Editor/node/deep_learning_node/**/*.onnx
dearpygui_gui_examples/Image-Processing-Node-Editor/node/deep_learning_node/monocular_depth_estimation/FSRE_Depth/fsre_depth_192x320/fsre_depth_full_192x320.onnx
dearpygui_gui_examples/Image-Processing-Node-Editor/node/deep_learning_node/monocular_depth_estimation/FSRE_Depth/fsre_depth_384x640/fsre_depth_full_384x640.onnx
dearpygui_gui_examples/Image-Processing-Node-Editor/node/deep_learning_node/monocular_depth_estimation/HR_Depth/saved_model_hr_depth_384x1280/hr_depth_k_m_depth_encoder_depth_384x1280.onnx

# Other large model files
*.pth
*.pt
*.h5
*.pb
*.tflite
*.bin
*.safetensors

# Large data files
*.zip
*.tar.gz
*.rar
*.7z

#
*.parquet
